<div>
    <main>
        <h1 class="mb-3">{{name}}</h1>

        <p>
            Birth Date: <date>{{birthdate}}</date>
        </p>

        <p>
        <address>Birth Place: {{birthplace}}</address>
        </p>

        <p>
            Death Date: <date>{{deathdate}}</date>
        </p>

        <p>
        <address>Death Place: {{deathplace}}</address>
        </p>

        <p>Nationality: {{nationality}}</p>

        <p>Occupation: {{occupation}}</p>

        <hr />
        <section>
            <div>
                <div class="mb-3">
                    <b>Known for:</b>
                    <ul>
                        {{#each known_for}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>

                <div class="mb-3">
                    <b>Notable publications:</b>
                    <ul>
                        {{#each notable_publications}}
                        <li>
                            {{title}},
                            <date>{{year}}</date>,
                            {{publisher}}
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="mb-3">
                    <b>Partners:</b>
                    <ul>
                        {{#each partners}}
                        <li>
                            {{name}},
                            {{relationship}},
                            <date>{{years}}</date>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="mb-3">
                    <b>Awards:</b>
                    <ul>
                        {{#each awards}}
                        <li>
                            {{title}},
                            <date>{{year}}</date>,
                            {{description}}
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="mb-3">
                    <b>Influences:</b>
                    <ul>
                        {{#each influences}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="mb-3">
                    <b>Influenced:</b>
                    <ul>
                        {{#each influenced}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="mb-3">
                    <b>Quotes:</b>
                    <ul>
                        {{#each quotes}}
                        <li>
                            <q>{{this}}</q>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="mb-3">
                    <b>Major discoveries:</b>
                    <ul>
                        {{#each major_discoveries}}
                        <li>
                            {{title}},
                            <date>{{year}},</date>
                            {{description}}
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="mb-3">
                    <b>Contributions:</b>
                    <ul>
                        {{#with contributions}}
                        <li>
                            {{title}},
                            {{description}},
                            <date>{{year}}</date>,
                            {{field}}
                        </li>
                        {{/with}}
                    </ul>
                </div>

            </div>
        </section>
    </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}