<div>
    {{#with person}}
    <main>
        <h1 class="mb-3">{{name}}</h1>
        <p>Age: {{age}} </p>
        <p>Gender: {{gender}}</p>
        {{#with address}}
        <div class="mb-3">
            <address>Address:
                {{street}},
                {{city}},
                {{state}},
                {{zip}},
                {{country}}
            </address>
        </div>
        {{/with}}
        <hr />
        <section class="ps-0">
            {{> title data='Education' big=true }}
            <ul>
                {{#each education}}
                <li class="mb-3">
                    <div>Degree: {{degree}}</div>
                    <div>Major: {{major}}</div>
                    <div>University: {{university}}</div>
                    <div>Year of graduation: {{graduationYear}}</div>
                </li>
                {{/each}}
            </ul>
        </section>
        <hr />
        <section class="ps-0">
            {{> title data='Work Experience' big=true }}
            <ul>
                {{#each workExperience}}
                <li>
                    <h3>Company: {{company}}</h3>
                    <p><strong> Title: {{title}} </strong></p>
                    <p>
                        <date> {{startDate}} </date> -
                        <date> {{endDate}} </date>
                    </p>
                    <div class="mb-3">
                        <h4>Responsibilities:</h4>
                        <ul>
                            {{#each responsibilities}}
                            <li>
                                {{this}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                    <p>
                        Founded: <date>{{year_founded}}</date>
                    </p>

                    <p>
                        Industry: {{industry}}
                    </p>

                    <div>
                        <h4>Employees:</h4>
                        <ul>
                            {{#each employees}}
                            <li class="mb-3">
                                {{name}},
                                {{position}} in
                                {{department}} department

                                Projects:
                                <ul class="mb-3">
                                    {{#each projects}}
                                    <li>
                                        <p class="m-0">{{name}}
                                            ({{description}}),
                                            {{status}}
                                        </p>
                                        Teams:
                                        <ul>
                                            {{#each teams}}
                                            <li>
                                                <p class="m-0">{{team_name}}</p>
                                                <p class="m-0">Team leader:
                                                    {{#with team_leader}}
                                                    {{name}} ({{title}})</p>
                                                <p class="m-0">email:{{email}}</p>
                                                {{/with}}
                                                Team members:
                                                <ul class="mb-3">
                                                    {{#each team_members}}
                                                    <li>
                                                        <p class="m-0">{{name}} ({{title}})</p>
                                                        <p class="m-0">email:{{email}}</p>
                                                        Skills:
                                                        <ul>
                                                            {{#each skills}}
                                                            <li>
                                                                {{this}}
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                        Projects:
                                                        <ul>
                                                            {{#each projects}}
                                                            <li>
                                                                <p class="m-0">{{name}} ({{description}})</p>
                                                                Technologies:
                                                                <ul>
                                                                    {{#each technologies}}
                                                                    <li>
                                                                        {{this}}
                                                                    </li>
                                                                    {{/each}}
                                                                </ul>
                                                                Team members:
                                                                <ul>
                                                                    {{#each team_members}}
                                                                    <li>
                                                                        {{name}} ({{title}})
                                                                    </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                    </li>
                                                    {{/each}}
                                                </ul>

                                            </li>
                                            {{/each}}
                                        </ul>

                                    </li>
                                    {{/each}}
                                </ul>

                            </li>
                            {{/each}}
                        </ul>
                    </div>

                </li>
                {{/each}}

        </section>
        <hr />
    </main>
    {{/with}}
</div>