{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
    {{#with program}}
    <main>
        <div>
            <h1>Program</h1>
        </div>
        <section>
            <div class="mb-3">
                <h2>Excursion</h2>
                {{#with excursion}}
                <h3>{{name}}</h3>
                {{#with location}}
                Location:<adress> {{city}}, {{country}} </adress>
                {{/with}}
                <date>{{date}}</date>
            </div>

            <div>
                <h4>Program:</h4>
                <ul>
                    {{#each program}}
                    <li class="mb-3">
                        <div>
                            <div class="mb-3">
                                <p class="m-0">Name: {{name}}</p>
                                <p class="m-0">Type: {{type}}</p>
                                <p class="m-0">Duration: {{duration}}</p>
                            </div>


                            {{#with details}}
                            <div>
                                {{#if museum}}
                                {{#with museum}}
                                <div>
                                    <p class="m-0"><b>Details of Museum:</b></p>
                                    <p class="m-0">Name of Museum: {{name}}</p>
                                    <p class="m-0">
                                        {{#with location}}
                                    <address>
                                        Location: {{address}}, {{city}}, {{country}}
                                    </address>
                                    {{/with}}
                                    </p>
                                    Exhibits:
                                    <ul class="mb-3">
                                        {{#each exhibits}}
                                        <li>
                                            <p class="m-0">Name: {{name}} </p>
                                            {{#if artist}}<p class="m-0">artist: {{artist}}</p>{{/if}}
                                            <p class="m-0">Description: {{description}}</p>
                                            {{#if audio_guide}}<p class="m-0">audioguide </p>{{/if}}
                                        </li>
                                        {{/each}}
                                    </ul>

                                </div>
                                {{/with}}
                                {{/if}}

                                {{#if venue}}
                                {{#with venue}}
                                <div>
                                    <p class="m-0"><b>Details of Venue:</b></p>

                                    <p class="m-0">Name of Venue: {{name}}</p>
                                    <p class="m-0">
                                        {{#with location}}
                                    <address>
                                        Location: {{address}}, {{city}}, {{country}}
                                    </address>
                                    {{/with}}
                                    </p>

                                </div>
                                {{/with}}
                                {{/if}}

                                {{#if performers}}
                                <div>
                                    Performers:
                                    <ul>
                                        {{#each performers}}
                                        <li>
                                            <p class="m-0">Name: {{name}}</p>
                                            <p class="m-0">Type:{{type}}</p>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                {{/if}}

                                <p class="m-0">Guide:</p>
                                {{#with guide}}
                                <p class="m-0">Name: {{name}}</p>
                                <p class="m-0">Language:{{language}}</p>
                                <p class="m-0">Rating: {{rating}}</p>
                                {{/with}}
                            </div>
                            {{/with}}
                            <hr />
                        </div>
                    </li>

                    {{/each}}
                </ul>
            </div>
            {{/with}}
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}