{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
    {{#with web}}
    <main>
        <div>
            <h1>Web</h1>
        </div>
        <section>

            <div>
                <h2>Languages:</h2>
                {{#each languages}}
                <ul>
                    <li>
                        <p class="m-0">{{name}}, ver:{{version}}, ({{description}})</p>

                        {{#if elements}}
                        <h3>Elements</h3>
                        {{#each elements}}
                        <ul>
                            <li class="mb-3">
                                <p class="m-0">{{name}}, ({{description}})</p>
                                <p class="m-0"><b>Attributes:</b></p>
                                {{#each attributes}}
                                <ul>
                                    <li>
                                        {{name}}, ({{description}})
                                    </li>
                                </ul>
                                {{/each}}
                            </li>

                        </ul>
                        {{/each}}
                        {{/if}}

                        {{#if properties}}
                        <h3>Properties</h3>
                        {{#each properties}}
                        <ul class="mb-3">
                            <li class="mb-3">
                                <p class="m-0">{{name}}, ({{description}})</p>
                                <p class="m-0"><b>Values:</b></p>
                                {{#each values}}
                                <ul>
                                    <li>
                                        <p class="m-0">{{value}}, ({{description}})</p>
                                    </li>
                                </ul>
                                {{/each}}
                            </li>

                        </ul>
                        {{/each}}
                        {{/if}}


                        {{#if functions}}
                        <h3>Functions</h3>
                        {{#each functions}}
                        <ul>
                            <li class="mb-3">
                                <p class="m-0">{{name}}, ({{description}})</p>
                                <p class="m-0"><b>Parameters:</b></p>
                                {{#each parameters}}
                                <ul>
                                    <li>
                                        <p class="m-0">{{name}}, {{type}}, ({{description}})</p>
                                    </li>
                                </ul>
                                {{/each}}
                            </li>

                        </ul>
                        {{/each}}
                        {{/if}}

                    </li>
                    <hr>
                </ul>
                {{/each}}
            </div>

        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}