<div class="col-6 px-1 mb-3">
    <div class="card">
        <img class="card-img-top" src="{{img}}" alt="{{name}}">
        <div class="card-body">
            <h6>
                {{#if isHot}} <span class='badge bg-warning rounded-pill'>НOT!</span> {{/if}}
                {{#if isNew}} <span class='badge bg-primary rounded-pill'>Нове</span> {{/if}}
            </h6>
            {{#if isFast}} <h5><span class='badge bg-success'>Швидка доставка</span> </h5>{{/if}}
            {{#if isFree}} <h5><span class='badge bg-secondary'>Безкоштовна доставка</span> </h5>{{/if}}

            <h5 class="card-title">{{name}} </h5>
            <p class="card-text my-2"> {{review.amount}} {{review.text}} </p>
            <h4>{{price}}</h4>
            <p class="card-text my-2">{{delivery}}</p>
            {{#each buttons}}
            {{> shopButtons blank=true}}
            {{/each}}
            <p class="card-text">
            <ul>
                {{#each characteristics}}
                <li>
                    {{title}} {{value}}
                </li>
                {{/each}}
            </ul>
            </p>

        </div>
    </div>
</div>